---
title: Portfolio
layout: main
---	    
<section class="cta-section theme-bg-light py-5">
	<div class="container text-center single-col-max-width">
		<h2 class="heading">Portfolio</h2>
		<div class="intro">
		<p>Welcome to my online portfolio. Here is a list of a large section of projects that Logan has taken a lead or crucial role in over his time in the software industry. 
			Want some help building your cloud based application?
		</div>
		<a class="btn btn-primary" href="{{site.baseurl}}/contact" target="_blank"><i class="fas fa-paper-plane me-2"></i>Hire Me</a>
		
		
	</div><!--//container-->
</section>
<section class="projects-list px-3 py-5 p-md-5">
	<div class="container">
		<div class="text-center">
			<ul id="filters" class="filters mb-5 mx-auto   ps-0">
				<li class="type active mb-3 mb-lg-0" data-filter="*">All</li>
				<li class="type  mb-3 mb-lg-0" data-filter=".featured">Featured</li>
				<li class="type  mb-3 mb-lg-0" data-filter=".public">Public Sector</li>
				<li class="type  mb-3 mb-lg-0" data-filter=".private">Private Sector</li>
			</ul><!--//filters-->
		</div>
		
		<div class="project-cards row isotope">
			{% assign sorted = site.pages | sort: 'yearEnd' | reverse %}
			{% for page in sorted %}
                {% if page.projectPage == true %}
				{% assign projectUrl = site.baseurl | append: page.url | remove: ".html" %}
				<div class="isotope-item col-md-6 mb-5 {{ page.filters | downcase }}">
					<div class="card project-card">
						<div class="row">
							<div class="col-12 col-xl-5 card-img-holder">
								<img src="{{ site.baseurl }}/assets/images/project/{{ page.clientImage }}" class="card-img" alt="image">
							</div>
							<div class="col-12 col-xl-7">
								<div class="card-body">
									<h5 class="card-title"><a href="{{ projectUrl }}" class="theme-link">{{ page.title }}</a></h5>
									<p class="card-text">{{ page.projectIntro }}</p>
									<p class="card-text"><small class="text-muted">Industry: {{ page.industry }}</small>
                                        <br/><small class="text-muted">Year: {{ page.yearStart }} - {{ page.yearEnd }}</small></p>
								</div>
							</div>
						</div>
						<div class="link-mask">
							<a class="link-mask-link" href="{{ projectUrl }}"></a>
							<div class="link-mask-text">
								<a class="btn btn-secondary" href="{{ projectUrl }}">
									<i class="fas fa-eye me-2"></i>View
								</a>
							</div>
						</div><!--//link-mask-->
					</div><!--//card-->
				</div><!--//col-->
				{% endif %}
            {% endfor %}
		</div><!--//row-->
		
	</div>
</section>

