---
title: Resume
layout: main
---


<!--<section class="cta-section theme-bg-light py-5">
	<div class="container text-center single-col-max-width">
		<h2 class="heading mb-3">Online Resume</h2>-->
		<!--<a class="btn btn-primary" href="{{ site.url }}assets/files/resume.pdf" target="_blank"><i class="fas fa-file-pdf me-2"></i>Download PDF Version</a>-->
		
		
	<!--</div>
</section>-->
<div class="container resume-container px-3 px-lg-5">
	<article class="resume-wrapper mx-auto theme-bg-light p-5 mb-5 my-5 shadow-lg">
		
		<div class="resume-header">
			<div class="row align-items-center">
				<div class="resume-title col-12 col-md-6 col-lg-8 col-xl-9">
					<h2 class="resume-name mb-0 text-uppercase">Logan Talbot</h2>
					<div class="resume-tagline mb-3 mb-md-0">{{ site.data.general.jobTitle }} </div>
				</div><!--//resume-title-->
				<div class="resume-contact col-12 col-md-6 col-lg-4 col-xl-3">
					<ul class="list-unstyled mb-0">
						<!--<li class="mb-2"><i class="fas fa-phone-square fa-fw fa-lg me-2 "></i><a class="resume-link" href="tel:#">0123 4567 890</a></li>-->
						<li class="mb-2"><i class="fas fa-envelope-square fa-fw fa-lg me-2"></i><a class="resume-link" href="mailto:logan@logantalbot.com">logan@logantalbot.com</a></li>
						<li class="mb-2"><i class="fas fa-globe fa-fw fa-lg me-2"></i><a class="resume-link" href="{{site.baseurl}}/">logantalbot.com</a></li>
						<li class="mb-0"><i class="fas fa-map-marker-alt fa-fw fa-lg me-2"></i>UK, Manchester</li>
					</ul>
				</div><!--//resume-contact-->
			</div><!--//row-->
			
		</div><!--//resume-header-->
		<hr>
		<div class="resume-intro py-3">
			<div class="row align-items-center">
				<!--<div class="col-12 col-md-3 col-xl-2 text-center">
					<img class="resume-profile-image mb-3 mb-md-0 me-md-5  ms-md-0 rounded mx-auto" src="{{ site.url }}assets/images/me/logansmartgrey.png" alt="image">
				</div>-->				
				<div class="col text-start">
					<p class="mb-0">
						Logan is adept at collaborating within agile teams, as demonstrated by his diverse project engagements utilizing Agile Delivery Methodologies. He has showcased cloud-native and AI thought leadership—presenting at events such as the Microsoft South-Coast Summit and serving as a Microsoft Certified Trainer on Azure topics. As a highly skilled Senior Solution Architect with over nine years of experience, Logan excels in delivering innovative solutions within the Azure ecosystem. Recently, he has been architecting GenAI-based applications, a pursuit further validated by his 19 cloud certifications, including expert-level credentials in Solution Architecture and AI.
					</p>
					<br>
					<p class="mb-0">
						Logan is passionate about staying at the forefront of technological advancements, particularly in the realm of Intelligent Apps and AI. He led the development of an award-winning GenAI-based application, implemented and scaled Azure AI services for a national government client, and authored an open-source project that offers detailed insights into architecting, securing, and developing Intelligent Apps at scale.
					</p>
					<br>
					<p class="mb-0">	
						Logan is a recognized leader in several key areas:
						<ul>
							<li>As Azure Innovation & AI Lead, he drives AI adoption while serving on Capgemini’s Microsoft AI Technical Council, gaining exclusive insights from Microsoft’s private preview programs.</li>
							<li>He plays a pivotal role in Capgemini’s Global App Modernisation team, which focuses on transforming legacy applications into intelligent, modern solutions.</li>
						</ul>
					</p>
				</div><!--//col-->
			</div>
		</div><!--//resume-intro-->
		<hr>
		<div class="resume-body">
			<div class="row">
				<div class="resume-main col-12 col-lg-8 col-xl-9   pe-0   pe-lg-5">
					<section class="work-section py-3">
						<h3 class="text-uppercase resume-section-heading mb-4">Work Experiences</h3>
						{% for work in site.data.workexperiences %}
						<div class="item mb-3">
							<div class="item-heading row align-items-center mb-2">
								<h4 class="item-title col-12 col-md-6 col-lg-8 mb-2 mb-md-0">{{ work.title}}</h4>
								<div class="item-meta col-12 col-md-6 col-lg-4 text-muted text-start text-md-right">{{ work.employer}} | {{ work.from }} - {{ work.to }}</div>
								
							</div>
							<div class="item-content">
								<p>{{ work.description }}</p>
								{% if work.points %}
									<strong>Key points:</strong>									
									<ul class="resume-list">																
									{% for point in work.points %}
										<li>{{ point }}</li>
									{% endfor %}											
									</ul>
								{% endif %}	
							</div>
						</div><!--//item-->				
						{% endfor %}
					</section><!--//work-section-->

					<section class="certificates-section py-3">
						<h3 class="text-uppercase resume-section-heading mb-4">Certifications</h3>
						<div class="item mb-3">
							<div class="item-heading row align-items-center mb-2">
								<h4 class="item-title col-12 col-md-6 col-lg-8 mb-2 mb-md-0">Expert Certifications</h4>
							</div>
							<div class="item-content">
								<ul class="resume-list">
									{% for certs in site.data.certifications %}
										{% if certs.level == 'Expert' %}
											<li>{{ certs.title }}</li>
										{% endif %}									
									{% endfor %}
								</ul>
							</div>
						</div><!--//item-->	
						<div class="item mb-3">
							<div class="item-heading row align-items-center mb-2">
								<h4 class="item-title col-12 col-md-6 col-lg-8 mb-2 mb-md-0">Specialty Certifications</h4>
							</div>
							<div class="item-content">
								<ul class="resume-list">
									{% for certs in site.data.certifications %}
										{% if certs.level == 'Specialty' %}
											<li>{{ certs.title }}</li>
										{% endif %}									
									{% endfor %}
								</ul>
							</div>
						</div><!--//item-->							
						<div class="item mb-3">
							<div class="item-heading row align-items-center mb-2">
								<h4 class="item-title col-12 col-md-6 col-lg-8 mb-2 mb-md-0">Associate Certifications</h4>
							</div>
							<div class="item-content">
								<ul class="resume-list">
									{% for certs in site.data.certifications %}
										{% if certs.level == 'Associate' %}
											<li>{{ certs.title }}</li>
										{% endif %}									
									{% endfor %}
								</ul>
							</div>
						</div><!--//item-->	

						<div class="item mb-3">
							<div class="item-heading row align-items-center mb-2">
								<h4 class="item-title col-12 col-md-6 col-lg-8 mb-2 mb-md-0">Fundamentals Certifications</h4>
							</div>
							<div class="item-content">
								<ul class="resume-list">
									{% for certs in site.data.certifications %}
										{% if certs.level == 'Fundamentals' %}
											<li>{{ certs.title }}</li>
										{% endif %}									
									{% endfor %}
								</ul>
							</div>
						</div><!--//item-->
						<div class="item mb-3">
							<div class="item-heading row align-items-center mb-2">
								<h4 class="item-title col-12 col-md-6 col-lg-8 mb-2 mb-md-0">Other Certifications</h4>
							</div>
							<div class="item-content">
								<ul class="resume-list">
									{% for certs in site.data.certifications %}
										{% if certs.level == 'Other' %}
											<li>{{ certs.title }}</li>
										{% endif %}									
									{% endfor %}
								</ul>
							</div>
						</div><!--//item-->	
					</section><!--//work-section-->
					
					<section class="project-section py-3">						
						<h3 class="text-uppercase resume-section-heading mb-4">Projects</h3>
						{% assign sorted = site.pages | sort: 'yearEnd' | reverse %}
						{% for page in sorted %}
							{% if page.featuredProject == true %}
							{% assign projectUrl = site.baseurl | append: page.url | remove: ".html" %}
							<div class="item mb-3">
								<div class="item-heading row align-items-center mb-2">
									<h4 class="item-title col-12 col-md-6 col-lg-8 mb-2 mb-md-0">{{ page.title }}</h4>
									<div class="item-meta col-12 col-md-6 col-lg-4 text-muted text-start text-md-right">{{ page.yearStart }} - {{ page.yearEnd }}</div>									
								</div>
								<div class="item-content">
									<p>{{ page.projectShort }}</p>							
								</div>
							</div><!--//item-->
							{% endif %}
            			{% endfor %}
						<div class="item text-center">
							<div class="item-heading row align-items-center mb-2">
								<li class="list-inline-item mb-lg-0 me-3">
									<a class="resume-link" target="_blank" href="{{ site.url }}/portfolio"><span class="d-none d-lg-inline-block text-muted">More projects: logantalbot.com/portfolio</span></a>
								</li>						
							</div>
						</div><!--//item-->
					</section><!--//project-section-->	
				</div><!--//resume-main-->
				<aside class="resume-aside col-12 col-lg-4 col-xl-3 px-lg-4 pb-lg-4">
					<section class="skills-section py-3">
						<h3 class="text-uppercase resume-section-heading mb-4">Skills</h3>
						<div class="item">
							<h4 class="item-title">Technical</h4>
							<ul class="list-unstyled resume-skills-list">
								{% for skill in site.data.skills %}
									{% if skill.type == 'Technical' %}
										<li class="mb-2">{{skill.value}}</li>	
									{% endif %}												
								{% endfor %}
								</ul>
							</div><!--//item-->
							<div class="item">
								<h4 class="item-title">Professional</h4>
								<ul class="list-unstyled resume-skills-list">
									{% for skill in site.data.skills %}
										{% if skill.type == 'Professional' %}
											<li class="mb-2">{{skill.value}}</li>	
										{% endif %}												
									{% endfor %}
									</ul>
								</div><!--//item-->
							</section><!--//skills-section-->
							<section class="education-section py-3">
								<h3 class="text-uppercase resume-section-heading mb-4">Education</h3>
								<ul class="list-unstyled resume-education-list">
									<li class="mb-3">
										<div class="resume-degree font-weight-bold">BSc First Class Honors’ in Software Engineering</div>
										<div class="resume-degree-org text-muted">UCLan</div>
										<div class="resume-degree-time text-muted">2013 - 2017</div>
									</li>
								</ul>
							</section><!--//education-section-->
							<section class="education-section py-3">
								<h3 class="text-uppercase resume-section-heading mb-4">Industry</h3>
								<ul class="list-unstyled resume-interests-list mb-0">
									<li class="mb-2">Finance</li>
									<li class="mb-2">Automotive</li>
									<li class="mb-2">Public Utility</li>
									<li class="mb-2">Aviation</li>
									<li class="mb-2">Telecoms</li>
									<li class="mb-2">National/ Local Government</li>
									<li class="mb-2">Railway Infrastructure</li>
									<li>Ecommerce</li>
								</ul>
							</section><!--//education-section-->
							<section class="skills-section py-3">
								<h3 class="text-uppercase resume-section-heading mb-4">Languages</h3>
								<ul class="list-unstyled resume-lang-list">
									<li class="mb-2">English <span class="text-muted"></span></li>
								</ul>
							</section><!--//certificates-section-->
							<section class="skills-section py-3">
								<h3 class="text-uppercase resume-section-heading mb-4">Interests</h3>
								<ul class="list-unstyled resume-interests-list mb-0">
									<li class="mb-2">Technology</li>
									<li class="mb-2">Gaming</li>
									<li class="mb-2">5 aside football</li>
									<li class="mb-2">Gym</li>
									<li class="mb-2">Food</li>
									<li>Traveling</li>
								</ul>
							</section><!--//certificates-section-->
							
						</aside><!--//resume-aside-->
					</div><!--//row-->
				</div><!--//resume-body-->
				<hr>
				<div class="resume-footer text-center">
					<ul class="resume-social-list list-inline mx-auto mb-0 d-inline-block text-muted">
						{% for social in site.data.socials %}
							{% if social.resume != null %}
								<li class="list-inline-item mb-lg-0 me-3"><a class="resume-link" target="_blank" href="{{ social.url }}"><i class="fab {{ social.resume.icon }} fa-2x me-2" data-fa-transform="down-4"></i><span class="d-none d-lg-inline-block text-muted">{{ social.resume.text | downcase }}</span></a></li>
							{% endif %}								
						{% endfor %}
					</ul>
				</div><!--//resume-footer-->
			</article>
			
</div><!--//container-->
